body {
  max-width: 1240px;
  margin: 0 auto;
}

h1 {
  color: orangered;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.product > .product__container {
  flex-basis: 33.33%;
  margin-bottom: 10px;
}
