body {
  max-width: 1240px;
  margin: 0 auto;
}

h1 {
  color: orangered;
}

h3 {
  font-size: 20px;
  margin-bottom: 0;
  margin-right: 5px;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.product > .product__container {
  flex-basis: 33.33%;
  margin-bottom: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__img-container {
  width: 75%;
  margin-bottom: 20px;
  border: 5px solid black;
  border-radius: 10px;
}

.about__img {
  max-width: 100%;
  border-radius: 1px;
}
